@import "tailwindcss";

@keyframes floatUp {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-40px); opacity: 0; }
}

.animate-floatUp {
  animation: floatUp 0.8s ease forwards;
}

